<a href="https://colab.research.google.com/github/barabonda/SK-AI-FLY/blob/main/7%EC%A3%BC%EC%B0%A8/LangChain_03_Doucment_Loader.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install langchain

Collecting langchain
  Downloading langchain-0.1.4-py3-none-any.whl (803 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 803.6/803.6 kB 7.9 MB/s eta 0:00:00
Requirement already satisfied: PyYAML>=5.3 in /usr/local/lib/python3.10/dist-packages (from langchain) (6.0.1)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.0.24)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in /usr/local/lib/python3.10/dist-packages (from langchain) (3.9.1)
Requirement already satisfied: async-timeout<5.0.0,>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from langchain) (4.0.3)
Collecting dataclasses-json<0.7,>=0.5.7 (from langchain)
  Downloading dataclasses_json-0.6.3-py3-none-any.whl (28 kB)
Collecting jsonpatch<2.0,>=1.33 (from langchain)
  Downloading jsonpatch-1.33-py2.py3-none-any.whl (12 kB)
Collecting langchain-community<0.1,>=0.0.14 (from langchain)
  Downloading langchain_community-0.0.16-py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 17.4 MB/s eta 0:00:00
Collecting langchain-core<0.2,>=0.1.16 (from langchain)
  Downloading langchain_core-0.1.17-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.9/235.9 kB 11.6 MB/s eta 0:00:00
Collecting langsmith<0.1,>=0.0.83 (from langchain)
  Downloading langsmith-0.0.84-py3-none-any.whl (53 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.0/54.0 kB 4.8 MB/s eta 0:00:00
Requirement already satisfied: numpy<2,>=1 in /usr/local/lib/python3.10/dist-packages (from langchain) (1.23.5)
Requirement already satisfied: pydantic<3,>=1 in /usr/local/lib/python3.10/dist-packages (from langchain) (1.10.14)
Requirement already satisfied: requests<3,>=2 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.31.0)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in /usr/local/lib/python3.10/dist-packages (from langchain) (8.2.3)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (23.2.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.9.4)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.4.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.3.1)
Collecting marshmallow<4.0.0,>=3.18.0 (from dataclasses-json<0.7,>=0.5.7->langchain)
  Downloading marshmallow-3.20.2-py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.4/49.4 kB 4.3 MB/s eta 0:00:00
Collecting typing-inspect<1,>=0.4.0 (from dataclasses-json<0.7,>=0.5.7->langchain)
  Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Collecting jsonpointer>=1.9 (from jsonpatch<2.0,>=1.33->langchain)
  Downloading jsonpointer-2.4-py2.py3-none-any.whl (7.8 kB)
Requirement already satisfied: anyio<5,>=3 in /usr/local/lib/python3.10/dist-packages (from langchain-core<0.2,>=0.1.16->langchain) (3.7.1)
Requirement already satisfied: packaging<24.0,>=23.2 in /usr/local/lib/python3.10/dist-packages (from langchain-core<0.2,>=0.1.16->langchain) (23.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1->langchain) (4.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (2023.11.17)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy<3,>=1.4->langchain) (3.0.3)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3->langchain-core<0.2,>=0.1.16->langchain) (1.3.0)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3->langchain-core<0.2,>=0.1.16->langchain) (1.2.0)
Collecting mypy-extensions>=0.3.0 (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain)
  Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Installing collected packages: mypy-extensions, marshmallow, jsonpointer, typing-inspect, langsmith, jsonpatch, langchain-core, dataclasses-json, langchain-community, langchain
Successfully installed dataclasses-json-0.6.3 jsonpatch-1.33 jsonpointer-2.4 langchain-0.1.4 langchain-community-0.0.16 langchain-core-0.1.17 langsmith-0.0.84 marshmallow-3.20.2 mypy-extensions-1.0.0 typing-inspect-0.9.0

# URL Document Loader

LangChain은 웹에 기록된 글도 텍스트 형식으로 가져와서 LLM에 활용할 수 있습니다.

In [2]:
from langchain.document_loaders import WebBaseLoader

loader = WebBaseLoader('https://www.nocutnews.co.kr/news/6087302')
data = loader.load()

print(data[0].page_content)

	北, 동‧서해 넘나들며 급속한 미사일 성능개량…보름새 4차례 발사 - 노컷뉴스














































































전체메뉴보기
노컷뉴스메인가기

					北, 동‧서해 넘나들며 급속한 미사일 성능개량…보름새 4차례 발사










0

페이스북
트위터
밴드
카카오톡
URL





											폰트사이즈

-
+



인쇄










CBS

전국 네트워크




강원
경남
광주
대구
대전
부산
영동
울산
전남
전북
제주
청주
포항



닫기


크리스천뉴스
노컷비즈
노컷TV





노컷뉴스



							정치













최신

				정치

				사회

				전국

				경제

				산업

				국제

				문화

				연예

				스포츠

				오피니언
포토
그래픽
노컷브이
핫이슈
스페셜
기획
제보





					네이버 구독
다음 구독
카카오 구독




삭제
검색




자동완성 끄기











뉴스

정치

사회

전국

경제

산업

국제

문화

연예

스포츠




지역

서울
경인
강원
경남
광주
대구
대전
부산
영동
울산
전남
전북
제주
청주
포항
일반



이슈

핫이슈
스페셜
기획
딥뉴스
노컷체크
인터랙티브
타임라인



시사

김현정의 뉴스쇼
한판승부
CBS 아침뉴스
정다운의 뉴스톡 530

오피니언


					칼럼

					뒤끝작렬

					기고



노컷브이
그래픽
포토
노컷TV
씨리얼
팟캐스트


닫기






정치
국방/외교




북핵·미사일 도발


北, 동‧서해 넘나들며 급속한 미사일 성능개량…보름새 4차례 발사


CBS노컷뉴스 홍제표 기자
메일보내기

2024-01-30 12:15










0

페이스북
트위터
밴드
카카오톡
URL





										폰트사이즈

-
+



인쇄








서해상으로 또 다시 순항미사일 수발 발사…"정상거리 비행한 듯"24, 28일 순항미사일은 北 주장보다 짧게 날아…1시간 비행 후 소실지상‧수중 수시로 바꾸며 잇단 시험…北 "무기체계 부단한 갱신 과정"

연합뉴스북한이 동해와 서해를 넘나들면서 올 들어서만 4차례나 각종 미사일을 발사하며 성능 개량에 총력을 기울이고 있다.

합동참모본부는 30일 오전 7시쯤 북측 서해상으로 발사된 미상의 순항미사일 여러 발을 포착했고 한미 정보당국이 이를 정밀분석 중이라고 밝혔다. 합참은 일단 이번 발사를 성능 개량 차원으로 파악하고 있다. 군 관계자는 "(이 미사일들이) 북한이 지금껏 주장해온 정상거리를 비행한 것으로 판단한다"고 말했다. 북한은 29일 관영매체를 통해 전날 동해에서 이뤄진 잠수함발사전략순항미사일(SLCM) '불화살-3-31' 시험발사를 공개하며 각각 7421초와 7445초(약 124분) 비행했다고 주장했다.  이에 대해 합참은 북한 주장이 과장됐을 가능성에 무게를 뒀다. 하지만 30일 발사된 순항미사일은 제 거리를 다 날아간 것으로 파악된다는 것이다.  합참은 북한이 지난 24일 '불화살-3-31'을 지상에서 서해상으로 시험발사했을 때도 비행시간이 기존 '화살-1,2형'에 비해 절반가량 줄어든 것으로 분석한 바 있다. 당시 미사일은 약 1시간 비행 후 소실된 것으로 알려졌다.  화살-1,2형은 지난해 9월 2일 서해상으로 발사돼 1500km를 8자형 궤도로 7672~7681초 비행했다고 북한은 밝힌 바 있다.  이런 점을 감안하면, 화살-1,2형의 개량형으로 추정되는 불화살-3-31이 24일과 28일 사실상 연이은 실패 뒤 30일 발사에서 성공한 셈이 된다. 불과 엿새 만에 가공할 속도로 성능을 개선한 것이다.  그것도 24일에는 지상에서 서해로, 28일에는 동해 수중에서, 30일에는 지상(추정)에서 서해로 장소와 방식을 수시로 바꿔가며 이룬 성과다.  보름여 전인 지난 14일 신형 '극초음속 중장거리 고체연료 탄도미사일' 시험발사까지 포함하면 북한의 무기 개발 속도는 이미 경계수위를 넘어서고 있다.

북한은 지난 25일 관영매체를 통해 불화살-3-31 발사를 공개하며 "미사일총국은 이번 시험이 무기체계의 부단한 갱신 과정"이라고 밝혔다.  그러면서도 "해당 시험은 주변 국가의 안전에 그 어떤 영향도 주지 않았으며 지역의 정세와는 전혀 무관"하다는 점을 강조하며 대외 메시지를 관리하는 모습도 보였다.


더 클릭





											2m 간격으로 나란히…실종된 20대 쌍둥이 형제 숨진 채 발견




											"길쭉한 주둥이…악 이게 뭐야" 中제조 고량주에서 발견 '경악'




											도핑이 할아버지 탓이라고?…러 피겨퀸, 결국 자격정지 4년·메달 박탈




											"클린스만호, 못 이길 텐데?" 사우디 언론의 조롱, 추락한 韓 축구 위상




											"해병이 차렷도 못 해" 후임병 폭행·흉기위협 20대 선고유예








											尹-韓 2시간반 회동…"김 여사 얘기 없었다"[뉴스쏙:속]




											김기현, 울산 남구을 출마…박맹우와 치열한 공천 경쟁 예고




											천안 아파트서 불…주민 40여 명 대피




											민주당, 尹대통령 고발…"공천·당무개입 만천하 드러나"




											사업체 종사자 26만명 증가에 그쳐…실질임금은 감소







※CBS노컷뉴스는 여러분의 제보로 함께 세상을 바꿉니다. 각종 비리와 부당대우, 사건사고와 미담 등 모든 얘깃거리를 알려주세요.

이메일
jebo@cbs.co.kr

카카오톡@노컷뉴스
사이트https://url.kr/b71afn





CBS노컷뉴스 홍제표 기자
메일






북핵·미사일 도발





北, 서해로 순항미사일 또 발사…"정상거리 비행한 듯"






합참 "北 SLCM 성능 과장됐을 가능성에 무게"






北 "잠수함순항미사일 '불화살-3-31' 발사…김정은 핵잠 건조파악"







0
0






















이 시각 주요뉴스


































오늘의 기자













많이 본 뉴스













실시간 댓글
















투데이 핫포토









	ㅡ















오늘의 핫뉴스닫기

























/


이전
다음

닫기
















노컷뉴스

회사소개
사업 제휴
광고안내
콘텐츠 구매
제보
이용약관
개인정보 취급방침

편집규약

지역노컷


						강원
경남

						광주

						대구

						대전

						부산

						영동

						울산

						전남

						전북
제주


						청주
포항












서울시 양천구 목동서로 159-1 7층 (주)씨비에스미디어캐스트 ☎02-2650-0500 | 사업자번호 : 117-81-28867 | 인터넷신문 등록번호
				: 서울 아00030 | 등록일자 : 2005.08.30(노컷뉴스), 2007.11.05(노컷TV)
발행·편집인 : 박상용 | 청소년보호책임자 : 조태훈 | ISSN : 2636-0373

노컷뉴스의 모든 콘텐츠는 저작권법의 보호를 받은 바, 무단전재, 복사, 배포 등을 금합니다.
© 2003 CBS M&C, 노컷뉴스 all rights reserved.


서울시 양천구 목동서로 159-1 7층 (주)씨비에스미디어캐스트 ☎02-2650-0500 | 사업자번호 : 117-81-28867 | 노컷스포츠 | 인터넷신문
				등록번호 : 서울 아04480 | 등록일자 : 2017.04.20
발행·편집인 : 박상용 | 청소년보호책임자 : 조태훈

노컷스포츠의 모든 콘텐츠는 저작권법의 보호를 받은 바, 무단전재, 복사, 배포 등을 금합니다.
© 2003 CBS M&C, 노컷스포츠 all rights reserved.


서울시 양천구 목동서로 159-1 7층 (주)씨비에스미디어캐스트 ☎02-2650-0500 | 사업자번호 : 117-81-28867 | 노컷연예 | 인터넷신문
				등록번호 : 서울 아04479 | 등록일자 : 2017.04.20
발행·편집인 : 박상용 | 청소년보호책임자 : 조태훈

노컷연예의 모든 콘텐츠는 저작권법의 보호를 받은 바, 무단전재, 복사, 배포 등을 금합니다.
© 2017 by CBS M&C, 노컷연예 all rights reserved.

In [4]:
!pip install pypdf

Collecting pypdf
  Downloading pypdf-4.0.1-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 284.0/284.0 kB 5.5 MB/s eta 0:00:00
Installing collected packages: pypdf
Successfully installed pypdf-4.0.1

In [15]:
from langchain.document_loaders import PyPDFLoader

loader = PyPDFLoader('/content/[정책브리프 2021-04] 탄소중립 대응을 위한 정부 정책과 동향 (1).pdf')
pages = loader.load_and_split()

print('Total pages: ' + str(len(pages)))
print('Page content: ' + pages[10].page_content)
print(pages[10].metadata)

Total pages: 19
Page content: 08이노비즈협회
05 중소기업의 탄소중립 대응
탄소중립은 도전적인 과제
∙우리나라의 온실가스 배출량은 지난 2018년을 정점으로 감소세를 유지할 것이라는 전망이나 탄소
중립까지의 기간은 촉박한 상황임
- 현재 글로벌 경제는 기후변화에 대응하는 수준을 넘어 관련 규제가 강화되는 등 빠르게 변화하고 있음
- 우리나라 또한 이에 대응하여 다양한 방법으로 온실가스 배출량 감축을 위한 활동을 지속하고 있으나 ,
현재의 추세대로라면 탄소중립까지 30년 이상의 기간이 필요할 것으로 예측됨
- 따라서 2050년까지 탄소중립을 실현하는 것은 도전적인 과제이며 , 기간 단축을 위한 전략이 지속적으로
논의될 것으로 보임
경제구조에서 기인하는 제약 요인
∙EU나 미국 같은 주요 선진국에서는 탄소국경세 도입을 통해 온실가스 배출규제가 약한 국가로부
터 수입한 상품에 비용을 부과하는 식으로 자국 산업을 보호하겠다고 선언한 상태임
∙무역 의존도가 높고 제조업 비중, 탄소 다배출 업종(철강, 석유화학 등) 비중이 높은 우리나라의
산업 구조를 생각해 본다면 탄소중립 대응이 결코 쉬운 과제는 아닐 것임
- 기업의 경우 고탄소에서 저탄소로 산업구조가 변경됨에 따라 부담이 증가하고 중장기 경쟁력이 악화될
우려가 있음
- 또한 화력발전이나 내연차와 같은 기존 산업의 기반이 약화되며 일자리가 감소하거나 공공요금이 상승되
는 등의 어려움도 발생할 것으로 예측됨
위기를 기회로 바꾸기 위한 대응이 필요한 시점
∙탄소중립은 더이상 미루거나 회피할 수 없는 모든 구성원의 과제이며 , 미온적으로 대응할 경우 국
내 주력 산업의 상당한 타격이 전망됨
- 산업구조의 저탄소화 및 신산업 육성 등 선제적 대응만이 탄소중립이라는 새로운 글로벌 질서에서 기회
를 창출할 수 있음
- 한국판 뉴딜을 통해 디지털과 그린을 융합한 혁신적 사업들을 성공적으로 추진한다면 탄소중립을 가속화
하고 이를 국가 경쟁력 제고의 기회로 활용할 수 있을 것으로 기대됨
{'source': '/content/[정책브리프 2021-04] 탄소중립 대응을 위한 정부 정책과 동향 (1).pdf', 'page': 10}

In [18]:
 # Microsoft Word Loader
!pip install docx2txt

Collecting docx2txt
  Downloading docx2txt-0.8.tar.gz (2.8 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: docx2txt
  Building wheel for docx2txt (setup.py) ... done
  Created wheel for docx2txt: filename=docx2txt-0.8-py3-none-any.whl size=3960 sha256=fd8c7eb685a689c0a2e9a1a3d7653130cee5c1029aa0a67d509cbbb3b838e700
  Stored in directory: /root/.cache/pip/wheels/22/58/cf/093d0a6c3ecfdfc5f6ddd5524043b88e59a9a199cb02352966
Successfully built docx2txt
Installing collected packages: docx2txt
Successfully installed docx2txt-0.8

In [21]:
from langchain.document_loaders import Docx2txtLoader
loader = Docx2txtLoader('/content/LLM이 만들어 내는 혁명과 교통산업.docx')

data = loader.load()
data

[Document(page_content="LLM이 만들어 내는 혁명과 교통산업\n\n김영욱\n\nMicrosoft에서 플랫폼 사업부에서 수석으로 일했으며 지금은 AI 전문기업인 Hello AI 창업해서 인공지능과 관련한 프로젝트 및 과제를 수행하고 있으며 강연과 집필 그리고 교육에도 힘쓰고 있다. \n\n\n\n 최근 모든 분야에서 이전에 없었던 급격한 기술 발전이 사회의 모습을 바꾸고 또 바뀐 사회 필요를 또 다시 새로운 기술로 채워 나가는 빠른 순환이 일어 나고 있다. 그런데 변화를 주도하는 기술 중에서 특히 IT 기술은 더더욱 그런 현상을 가속화 시킬 뿐만 아니라 주도하고 있는 현상을 우리는 쉽게 볼 수 있다. \n\n코로나 이후 전 세계적으로 어려운 경제 상황을 보여주고 있지만 상대적으로 유럽은 더더욱 큰 경제 불황의 고리에 빠져들고 있는데 유럽 경제가 힘든 이유는 우크라이나 전쟁을 비롯, 에너지 문제를 포함해서 여러 이유를 함께 생각해 볼 수 있지만 IT산업이 제대로 발전하지 못한 이유도 크게 한 몫하고 있다. 우리가 주변에서 편하게 사용하는 다양한 인터넷 서비스들 중 유럽 것을 찾아보기 힘든 것만 봐도 유럽은 여전히 전통적인 산업에 머물러 있다는 것을 알 수 있다. 또 미국의 S&P 500의 시가 총액 상위 종목들을 보면 애플, Microsoft, 구글, 아마존 그리고 테슬라 등 IT 관련 기술주가 상위권을 휩쓸고 있는 것을 볼 수 있다. 그렇게 우리는 IT 기술이 곧 경쟁력인 세상의 한복판에 살아가고 있다. \n\n\n\nThe age of Generative AI \n\n 작년 말 갑자기 등장한 ChatGPT는 최근 모든 이슈를 가져와도 비교가 되지 않을 만큼 큰 이슈를 일으키고 있다. 사람들은 ChatGPT를 보자마자 IT 역사에 큰 변화를 일으킬 또 하나의 마일스톤이 시작되었다는 생각 보다는 각자 필요한 용도로 활용 할 수 있다는 점에 열광하기 시작했다. 100만 사용자가 단 5일만에 가입한 사실만 보더라도 사람들이 얼마나 ChatGPT에 열광하고 있는 것을 알 수 있다.  \n\n <그림1> 주요 서비스의 회원 100만명 달성 시간 (출처: statista)\n\n ChatGPT 이전에 세상에서 이슈 몰이를 했던 인공지능으로는 구글의 알파고를 빼놓고 이야기 할 수 없다. 알파고는 바둑을 혹은 바둑만 전문적으로 추론 할 수 있는 인공지능이었다. 최근 알파고 이야기를 주변에서 찾아 볼 수 없는 이유는 알파고를 바둑 이외의 영역에 적용했을 때 인상적인 결과를 만들지 못했기 때문일지도 모른다. 항상 이런 전문성이라는 것은 양날의 검과 같아서 장점과 치명적인 한계를 함께 동반하는 것이 일반적이다. 비슷하게 우리 주변의 인공지능 시스템들은 대부분은 한정된 영역의 일만 할 수 있는 소위 말하는 전문가 시스템이었다. 집안의 온도를 맞추어 주고 공장의 품질 관리를 해주고 농장의 작물들을 키워주는 인공지능 시스템들도 모두 특정 용도에 최적화된 전문가 시스템이라고 할 수 있다. \n\n하지만 사람들이 인공지능에 거는 기대치는 이보다 훨씬 높다. 우리가 아이언맨 등의 영화에서 봤던 자비스와 같은 인공지능은 어떨까? 주인공인 토니 스타크가 묻는 질문에 적절하게 대답해주고 주변에 있는 시설들을 제어하면서 주인공의 또 하나의 동료로 완전히 함께 일하는 모습을 볼 수 있다. 사실 자비스와 같이 다양한 용도로 사용 할 수 있는 수준의 인공지능을 인공 일반 지능(AGI: Artificial General Intelligence) 기술이라고 말한다. 인공 일반 지능은 전문가 시스템에 반대되는 개념으로 사람들의 말과 말속의 맥락을 정확하게 이해하고 거기에 맞게 동작하거나 답을 해주는 것이 목표이다. ChatGPT는 이제까지 나왔던 그 어떤 인공 지능 기술 보다도 인공 일반 지능에 가장 가까운 기술이었고 그래서 사람들은 ChatGPT를 보면서 자비스를 떠올리고 있었는지도 모르겠다. \n\n\n\n전 세계의 말들을 학습한 LLM\n\n이전에는 컴퓨터에게 사람의 말을 가르치기 위해서 문법적인 접근을 했다. 언어들의 문법적인 원리를 연구하고 발견된 원리들을 컴퓨터에 소프트웨어로 제작하는 방식으로 접근을 했지만 의미 있는 결과를 도출하는 것이 어려웠다. 문법적인 접근이 어려움을 겪었던 이유는 모든 사람들이 문법적으로 이야기 하지 않는다는 점이 첫 번째 문제였다. 문법이라는 것이 일정한 듯 하면서도 모든 언어적인 현상들을 모두 문법으로 설명할 수 없었다. 또 다른 이유는 사람들은 계속해서 새로운 단어들을 만들어 내고 있다는 점이다. 단적인 예를 들자면 ‘구글링’이라는 단어는 구글이 등장하기 전에는 존재하지 않았던 동사였다. 그래서 문법적인 접근으로는 한계가 있음을 인정하지 않을 수 없었다. 문법적인 접근을 하는 대신 사람들이 실제 사용하는 말을 긁어 모아서 단어 사이의 가중치를 매기는 방식으로 접근하기 시작했다. 이 방식의 경우 사람들의 말의 양을 늘리면 늘릴 수록 결과물도 함께 좋아지는 장점이 있었고 또 인터넷 등에서 사람들이 실제로 사용하는 말을 모아서 학습하다 보니 새로운 단어들과 기존에 알려진 문법과 상관없는 현상들을 모두 분석할 수 있는 장점이 있었다. 문제는 말의 양을 늘리면 늘릴 수록 분석하는데 들어가는 컴퓨팅 비용도 기하급수적으로 늘어난다는 점에 있었다. 그래서 무한정으로 학습량을 늘리는 것은 어려웠다. 어찌되었든 이렇게 사람의 말을 학습해 놓은 것을 언어 모델(LM: Language Model)이라 부르는데 이 중에서도 특히 언어 모델을 엄청난 크기로 만들어 놓은 것을 거대 언어 모델(LLM: Large Language Model)이라고 불렀다. \n\n\n\n데이터세트\n\n토큰\n\n교육 비율\n\n일반 크롤링\n\n4100억개\n\n60%\n\n웹텍스트 2\n\n190억개\n\n22%\n\n책1\n\n120억개\n\n8%\n\n책2\n\n550억개\n\n8%\n\n위키백과\n\n30억개\n\n3%\n\n <표1> 대표적인 LLM인 GPT3의 학습에 사용된 데이터 양\n\n거대 언어 모델을 만드는 데에는 엄청난 비용과 컴퓨팅 인프라가 필요한 까닭에 주요 소프트웨어 회사에서 개발하고 있다. 최근에는 주로 구글, Microsoft, 엔비디아, 그리고 오픈AI와 같은 글로벌 대형 업체들이 주도적으로 연구와 개발을 하고 있는데 이중에서도 오픈AI는 상대적으로 작은 규모의 회사이긴 하지만 Microsoft가 14조가 넘는 비용을 투자하면서 선두로 나서게 되었으며 언어 모델인 GPT, 이미지를 생성하는 DALL-E2 이외에도 많은 연구를 하고 있다. \n\n\n\n지식전이 현상의 발견 \n\n거대 언어 모델을 만드는 과정에서 수 많은 말들을 처리하다 보니 잘 만들어진 언어 모델은 그 자체로 많은 잠재성을 가질 수 있게 되었다. 언어 모델에 들어 있는 말들 자체가 하나의 거대한 지식 체계로 동작하면서 새로운 능력들이 발현하게 되었는데 이와 같은 현상을 지식의 전이(Knowledge Transfer)라 부르게 되었다. 실제로 오픈AI가 만든 GPT-3 모델의 경우 기본적으로 감정의 분석, 문서의 요약, 번역, 질의응답, 작문, 문장의 재구성 등 많은 능력을 가지고 있어서 이미 많은 분야에서 이 능력을 활용하고 있거나 활용하기 위해서 시도하고 있다. GPT-4의 경우 이 보다 훨씬 더 큰 잠재력이 있는 것으로 알려져 있다. 지식의 전이 현상으로 인해 다양한 일들을 척척 해내는 것을 보면 거대 언어 모델의 능력이 무한 할 것 같지만 ChatGPT 역시 만능은 아니다. ChatGPT가 나름 다양한 능력을 가지고 있고 이전에 없었던 새로운 일들을 가능하게 해주는 놀라운 존재이긴 하지만 한계도 역시 분명하다. ChatGPT는 다음과 같이 알려진 한계가 있다. \n\n\n\n2021년 9월에 멈춘 학습\n\n일관성 없는 결과물\n\n거짓 정보 (Hallucination)\n\n영어에 비해 떨어지는 한국어 결과물\n\n\n\nChatGPT를 학습 시킬 때 전세계의 인터넷과 책에 있는 자료들을 긁어 모아서 학습을 시켰지만 그 학습 자료는 2021년 9월에 머물러 있다. 따라서 최신 정보를 묻는다면 대답을 할 수 없다. 가령 예를 들자면 \n\n\n\n‘지금 한국의 대통령은?’, \n\n‘오늘 삼성전자 주가는 얼마야?’,\n\n’내일 비가 올 것 같아?’\n\n\n\n이런 질문들에 대해서는 답변을 할 수 없다. 또 ChatGPT 자체는 학습된 데이터를 기반으로 말을 생성해 내는 것이 주된 기능이고 생성된 말의 일관성이나 혹은 사실 여부를 검증해 주지는 않는다. 그래서 질문 할 때 마다 다른 말을 만들어 내주는가 하면 또 때로는 아주 아주 진지하고 그럴싸한 거짓말을 하기도 한다. 모르는 사람들은 ChatGPT가 만들어내는 거짓말을 그대로 믿을 만큼 거짓말을 잘한다. 또 다른 문제로는 GPT-4에 이르러서는 조금 나아지긴 했지만 기본적으로 한국어 보다는 영어의 학습량이 많기 때문에 한국어 보다는 영어가 더 좋은 결과물을 보여주기도 한다. \n\n\n\n생성형 인공지능의 시대가 왔다. \n\n위에서 ChatGPT의 한계를 이야기 했지만 업계에서는 빠르게 한계를 극복하면서 빠르게 생성형 인공지능을 제품이나 서비스로 연결하고 있다. 생성형 인공지능과 관련해서는 구글, 메타, 엔비디아 그리고 국내의 네이버 등도 빠르게 움직이고 결과물을 내놓고 있지만 최근 이 분야에서 가장 빠르게 움직이고 있는 기업은 바로 Microsoft이다. \n\n Microsoft는 검색엔진인 빙(Bing)에 생성형 AI 기술을 적용해서 대화형으로 문제를 해결할 수 있는 방법을 제공하면서 빠르게 구글의 점유율을 가져오고 있다. 또 빙 이미지 크리에이터를 통해서 사용자들에게 필요한 이미지를 생성 할 수 있는 방법도 함께 제공하고 있다. \n\n Microsoft의 전략에서 특히 눈의 띄는 부분은 바로 플랫폼이다. Microsoft는 거대 언어 모델을 그 자체로 사용하지 않고 개발을 위한 시멘틱 커널 프레임웍(Semantic Kernel Framework)을 먼저 만들고 그 기반으로 코파일럿(Copilot)라는 이름으로 플랫폼화를 했다. 플랫폼화가 잘되고 나면 안정적으로 새로운 많은 제품과 서비스에서 거대 언어 모델의 효과를 즉시 발휘할 수 있게 확장 할 수 있게 된다. \n\n Microsoft는 Copilot 서비스를 소프트웨어 개발 도구로 활용할 수 있게 Github Copilot으로 출시해서 소프트웨어 개발 분야에서 활용 하는가 하면 일반인들을 위해서 윈도우 11에서 거대 언어 모델을 사용할 수 있는 Windows Copilot의 오픈 베타 버전을 내놓았다. \n\n\n<그림2> Windows Copilot (출처: Windows 11 Copilot 테스트 받은 편지함, ChatGPT 및 Bing AI 플러그인 통합 - GAMINGDEPUTY KOREA)\n\n 뿐만 아니라 워드, 엑셀, 파워포인트, 팀즈, 아웃룩 등 오피스 제품들을 클라우드 기반으로 제공하는 Microsoft 365에도 역시 코파일럿 제품이 들어가면서 이제 부터는 문서 작성이나 엑셀에서 데이터 분석, 발표용 슬라이드 작성등 대부분의 작업을 이제부터는 코파일럿과의 채팅을 통해서 해결할 수 있는 시대가 왔다. \n\n Microsoft 뿐만 아니다. 포토샵으로 유명한 어도비(Adobe)도 적극적으로 생성형 인공지능을 활용하고 있다. 포토샵에서 여러 도구들을 사용해서 사람이 이미지를 일일이 수정하는 것이 아니라 생성형 인공지능을 사용해서 영역을 지정하고 어떻게 수정할 것인지 말로 표현하면 인공지능이 이미지를 수정해주는 식으로 동작 할 수 있다. \n\n\n\n<그림3> 포토샵에서 생성형 인공지능의 활용(Photoshop Has Become a Lot More Powerful Thanks to Brand New Generative AI Features Using Adobe's Firefly (wccftech.com)\n\n이렇게 생성형 인공지능 기술들은 IT 산업 전반에서 IT와 사람 사이의 인터페이스를 변화 시키고 있다. 버튼을 누르거나 사용자의 입력에 의해서 반응하던 시스템이 아니라 사람과의 대화를 통해서 내용을 이용하고 함께 작업에 동참하는 자비스가 어느덧 이제는 우리 곁으로 들어왔다. \n\n\n\n교통산업과 거대 언어 모델 \n\n미국 최대 자동차 회사인 제너럴모터스(GM)이 ChatGPT를 자사 차량에 적용하는 방안을 모색하고 있다는 발표를 했다. 이런 변화가 자연스럽게 느껴지는 것은 자동차라는 공간이 단순한 이동 수단을 넘어서서 이제는 하나의 스마트 디바이스로 진화하고 있기 때문이다. 고성능 컴퓨터가 탑재되어서 완벽하지는 않아도 운전 보조 장치로는 충분한 수준의 자율주행을 수행할 수 있게 되었고 음성으로 대화가 가능한 인터페이스가 탑재되기 시작했다. \n\n 자동차로 이동할 때 필요한 주요 장치들의 제어 뿐만 아니라 네비게이션을 포함한 인포테인먼트 그리고 오디오와 함께 다양한 콘텐츠를 소비할 수 있게 발전하고 있는 엔터테인먼트까지 생성형 인공지능을 활용할 수 있는 분야는 무궁 무진하다. 이것은 단순한 가능성이 아니라 처음에는 프리미엄급의 기준이 생성형 인공지능의 탑재 여부가 될 예정이고 더 나아가 전체적인 자동차의 기능과 어떻게 잘 통합할 수 있는지 여부는 자동차 회사의 미래 가치에 치명적인 영향을 끼치게 될 것이다. \n\n 이런 면에 있어서 이미 충분한 컴퓨팅 파워를 탑재하고 있는 프리미엄급의 전기 자동차들은 생성형 인공지능의 초기 데뷔 무대가 될 확률이 높다. 지금까지 전기 자동차는 베터리와 모터와 같은 전기 장비들을 잘 통합하고 경쟁력 있는 가격에 제공하는 것이 주요 경쟁력이었다면 앞으로는 전기 계통의 플랫폼들은 모두 기본 이상의 품질을 갖추게 되고 결국 사람들이 직접 느낄 수 있는 편의성과 고급스러움이 경쟁력이 될 예정이며 여기에서 핵심 기술이 ChatGPT와 같은 LLM 기술이 될 것으로 보인다. \n\n\n\n<그림4> 자동차 산업에서의 생성형 인공지능 (출처: AI In Cars: 14 Types of Automotive AI | Built In)\n\n\n\n 자동차만 변화의 대상이 되지 않는다. 교통이란 항상 한정된 자원인 도로를 이용해서 원활한 이동을 이끌어 내기 위해서 항상 많은 데이터를 거의 실시간으로 처리하는 것이 일상이다. 이런 데이터를 기반으로 의사결정을 하고 차량의 흐름을 통제하는데 역시 생성형 인공지능이 적극적으로 활용 될 수 있다. 이미 지금도 데이터에 대해서 질문만 했을 뿐인데 그 답을 찾기 위해서 생성형 인공지능이 스스로 데이터를 분석하기 위한 코드를 작성하고 실행해서 얻어진 결과로 답변을 작성해서 알려준다. \n\n ChatGPT의 이런 발전 속도와 변화는 사실 IT업계에 종사하는 사람들 조차 받아들이기 버거울 정도로 크다. 하지만 1년이 되지 않는 이런 변화의 시작이 3년이 지났을 때 그리고 10년이 지났을 때 또 얼마나 큰 변화를 가져다 줄지는 가늠하기 어렵다. 하지만 한 가지 확실한 것은 그 변화에 전면부에 올라타는 것과 그렇지 못한 경우의 차이는 치명적일 것이라는 것 만큼은 분명할 것이다.", metadata={'source': '/content/LLM이 만들어 내는 혁명과 교통산업.docx'})]

In [22]:
data[0].metadata

{'source': '/content/LLM이 만들어 내는 혁명과 교통산업.docx'}

In [23]:
# CSV Loader

from langchain.document_loaders import CSVLoader
loader = CSVLoader(file_path='/content/titanic3.csv',
                   csv_args={
                       'delimiter':',',
                       'quotechar':'"',
                       'fieldnames': ['pclass','survived','name','sex','age','sibsp','parch','ticket','fare','cabin','embarked','boat','body','home.dest']
})

data = loader.load()

In [24]:
data

[Document(page_content='pclass: \ufeffpclass\nsurvived: survived\nname: name\nsex: sex\nage: age\nsibsp: sibsp\nparch: parch\nticket: ticket\nfare: fare\ncabin: cabin\nembarked: embarked\nboat: boat\nbody: body\nhome.dest: home.dest', metadata={'source': '/content/titanic3.csv', 'row': 0}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Allen, Miss. Elisabeth Walton\nsex: female\nage: 29\nsibsp: 0\nparch: 0\nticket: 24160\nfare: 211.3375\ncabin: B5\nembarked: S\nboat: 2\nbody: \nhome.dest: St Louis, MO', metadata={'source': '/content/titanic3.csv', 'row': 1}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Allison, Master. Hudson Trevor\nsex: male\nage: 0.9167\nsibsp: 1\nparch: 2\nticket: 113781\nfare: 151.5500\ncabin: C22 C26\nembarked: S\nboat: 11\nbody: \nhome.dest: Montreal, PQ / Chesterville, ON', metadata={'source': '/content/titanic3.csv', 'row': 2}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Allison, Miss. Helen Loraine\nsex: female\nage: 2\nsibsp: 1\nparch: 2\nticket: 113781\nfare: 151.5500\ncabin: C22 C26\nembarked: S\nboat: \nbody: \nhome.dest: Montreal, PQ / Chesterville, ON', metadata={'source': '/content/titanic3.csv', 'row': 3}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Allison, Mr. Hudson Joshua Creighton\nsex: male\nage: 30\nsibsp: 1\nparch: 2\nticket: 113781\nfare: 151.5500\ncabin: C22 C26\nembarked: S\nboat: \nbody: 135\nhome.dest: Montreal, PQ / Chesterville, ON', metadata={'source': '/content/titanic3.csv', 'row': 4}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Allison, Mrs. Hudson J C (Bessie Waldo Daniels)\nsex: female\nage: 25\nsibsp: 1\nparch: 2\nticket: 113781\nfare: 151.5500\ncabin: C22 C26\nembarked: S\nboat: \nbody: \nhome.dest: Montreal, PQ / Chesterville, ON', metadata={'source': '/content/titanic3.csv', 'row': 5}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Anderson, Mr. Harry\nsex: male\nage: 48\nsibsp: 0\nparch: 0\nticket: 19952\nfare: 26.5500\ncabin: E12\nembarked: S\nboat: 3\nbody: \nhome.dest: New York, NY', metadata={'source': '/content/titanic3.csv', 'row': 6}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Andrews, Miss. Kornelia Theodosia\nsex: female\nage: 63\nsibsp: 1\nparch: 0\nticket: 13502\nfare: 77.9583\ncabin: D7\nembarked: S\nboat: 10\nbody: \nhome.dest: Hudson, NY', metadata={'source': '/content/titanic3.csv', 'row': 7}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Andrews, Mr. Thomas Jr\nsex: male\nage: 39\nsibsp: 0\nparch: 0\nticket: 112050\nfare: 0.0000\ncabin: A36\nembarked: S\nboat: \nbody: \nhome.dest: Belfast, NI', metadata={'source': '/content/titanic3.csv', 'row': 8}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Appleton, Mrs. Edward Dale (Charlotte Lamson)\nsex: female\nage: 53\nsibsp: 2\nparch: 0\nticket: 11769\nfare: 51.4792\ncabin: C101\nembarked: S\nboat: D\nbody: \nhome.dest: Bayside, Queens, NY', metadata={'source': '/content/titanic3.csv', 'row': 9}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Artagaveytia, Mr. Ramon\nsex: male\nage: 71\nsibsp: 0\nparch: 0\nticket: PC 17609\nfare: 49.5042\ncabin: \nembarked: C\nboat: \nbody: 22\nhome.dest: Montevideo, Uruguay', metadata={'source': '/content/titanic3.csv', 'row': 10}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Astor, Col. John Jacob\nsex: male\nage: 47\nsibsp: 1\nparch: 0\nticket: PC 17757\nfare: 227.5250\ncabin: C62 C64\nembarked: C\nboat: \nbody: 124\nhome.dest: New York, NY', metadata={'source': '/content/titanic3.csv', 'row': 11}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Astor, Mrs. John Jacob (Madeleine Talmadge Force)\nsex: female\nage: 18\nsibsp: 1\nparch: 0\nticket: PC 17757\nfare: 227.5250\ncabin: C62 C64\nembarked: C\nboat: 4\nbody: \nhome.dest: New York, NY', metadata={'source': '/content/titanic3.csv', 'row': 12}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Aubart, Mme. Leontine Pauline\nsex: female\nage: 24\nsibsp: 0\nparch: 0\nticket: PC 17477\nfare: 69.3000\ncabin: B35\nembarked: C\nboat: 9\nbody: \nhome.dest: Paris, France', metadata={'source': '/content/titanic3.csv', 'row': 13}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Barber, Miss. Ellen "Nellie"\nsex: female\nage: 26\nsibsp: 0\nparch: 0\nticket: 19877\nfare: 78.8500\ncabin: \nembarked: S\nboat: 6\nbody: \nhome.dest: ', metadata={'source': '/content/titanic3.csv', 'row': 14}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Barkworth, Mr. Algernon Henry Wilson\nsex: male\nage: 80\nsibsp: 0\nparch: 0\nticket: 27042\nfare: 30.0000\ncabin: A23\nembarked: S\nboat: B\nbody: \nhome.dest: Hessle, Yorks', metadata={'source': '/content/titanic3.csv', 'row': 15}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Baumann, Mr. John D\nsex: male\nage: \nsibsp: 0\nparch: 0\nticket: PC 17318\nfare: 25.9250\ncabin: \nembarked: S\nboat: \nbody: \nhome.dest: New York, NY', metadata={'source': '/content/titanic3.csv', 'row': 16}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Baxter, Mr. Quigg Edmond\nsex: male\nage: 24\nsibsp: 0\nparch: 1\nticket: PC 17558\nfare: 247.5208\ncabin: B58 B60\nembarked: C\nboat: \nbody: \nhome.dest: Montreal, PQ', metadata={'source': '/content/titanic3.csv', 'row': 17}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Baxter, Mrs. James (Helene DeLaudeniere Chaput)\nsex: female\nage: 50\nsibsp: 0\nparch: 1\nticket: PC 17558\nfare: 247.5208\ncabin: B58 B60\nembarked: C\nboat: 6\nbody: \nhome.dest: Montreal, PQ', metadata={'source': '/content/titanic3.csv', 'row': 18}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Bazzani, Miss. Albina\nsex: female\nage: 32\nsibsp: 0\nparch: 0\nticket: 11813\nfare: 76.2917\ncabin: D15\nembarked: C\nboat: 8\nbody: \nhome.dest: ', metadata={'source': '/content/titanic3.csv', 'row': 19}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Beattie, Mr. Thomson\nsex: male\nage: 36\nsibsp: 0\nparch: 0\nticket: 13050\nfare: 75.2417\ncabin: C6\nembarked: C\nboat: A\nbody: \nhome.dest: Winnipeg, MN', metadata={'source': '/content/titanic3.csv', 'row': 20}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Beckwith, Mr. Richard Leonard\nsex: male\nage: 37\nsibsp: 1\nparch: 1\nticket: 11751\nfare: 52.5542\ncabin: D35\nembarked: S\nboat: 5\nbody: \nhome.dest: New York, NY', metadata={'source': '/content/titanic3.csv', 'row': 21}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Beckwith, Mrs. Richard Leonard (Sallie Monypeny)\nsex: female\nage: 47\nsibsp: 1\nparch: 1\nticket: 11751\nfare: 52.5542\ncabin: D35\nembarked: S\nboat: 5\nbody: \nhome.dest: New York, NY', metadata={'source': '/content/titanic3.csv', 'row': 22}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Behr, Mr. Karl Howell\nsex: male\nage: 26\nsibsp: 0\nparch: 0\nticket: 111369\nfare: 30.0000\ncabin: C148\nembarked: C\nboat: 5\nbody: \nhome.dest: New York, NY', metadata={'source': '/content/titanic3.csv', 'row': 23}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Bidois, Miss. Rosalie\nsex: female\nage: 42\nsibsp: 0\nparch: 0\nticket: PC 17757\nfare: 227.5250\ncabin: \nembarked: C\nboat: 4\nbody: \nhome.dest: ', metadata={'source': '/content/titanic3.csv', 'row': 24}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Bird, Miss. Ellen\nsex: female\nage: 29\nsibsp: 0\nparch: 0\nticket: PC 17483\nfare: 221.7792\ncabin: C97\nembarked: S\nboat: 8\nbody: \nhome.dest: ', metadata={'source': '/content/titanic3.csv', 'row': 25}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Birnbaum, Mr. Jakob\nsex: male\nage: 25\nsibsp: 0\nparch: 0\nticket: 13905\nfare: 26.0000\ncabin: \nembarked: C\nboat: \nbody: 148\nhome.dest: San Francisco, CA', metadata={'source': '/content/titanic3.csv', 'row': 26}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Bishop, Mr. Dickinson H\nsex: male\nage: 25\nsibsp: 1\nparch: 0\nticket: 11967\nfare: 91.0792\ncabin: B49\nembarked: C\nboat: 7\nbody: \nhome.dest: Dowagiac, MI', metadata={'source': '/content/titanic3.csv', 'row': 27}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Bishop, Mrs. Dickinson H (Helen Walton)\nsex: female\nage: 19\nsibsp: 1\nparch: 0\nticket: 11967\nfare: 91.0792\ncabin: B49\nembarked: C\nboat: 7\nbody: \nhome.dest: Dowagiac, MI', metadata={'source': '/content/titanic3.csv', 'row': 28}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Bissette, Miss. Amelia\nsex: female\nage: 35\nsibsp: 0\nparch: 0\nticket: PC 17760\nfare: 135.6333\ncabin: C99\nembarked: S\nboat: 8\nbody: \nhome.dest: ', metadata={'source': '/content/titanic3.csv', 'row': 29}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Bjornstrom-Steffansson, Mr. Mauritz Hakan\nsex: male\nage: 28\nsibsp: 0\nparch: 0\nticket: 110564\nfare: 26.5500\ncabin: C52\nembarked: S\nboat: D\nbody: \nhome.dest: Stockholm, Sweden / Washington, DC', metadata={'source': '/content/titanic3.csv', 'row': 30}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Blackwell, Mr. Stephen Weart\nsex: male\nage: 45\nsibsp: 0\nparch: 0\nticket: 113784\nfare: 35.5000\ncabin: T\nembarked: S\nboat: \nbody: \nhome.dest: Trenton, NJ', metadata={'source': '/content/titanic3.csv', 'row': 31}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Blank, Mr. Henry\nsex: male\nage: 40\nsibsp: 0\nparch: 0\nticket: 112277\nfare: 31.0000\ncabin: A31\nembarked: C\nboat: 7\nbody: \nhome.dest: Glen Ridge, NJ', metadata={'source': '/content/titanic3.csv', 'row': 32}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Bonnell, Miss. Caroline\nsex: female\nage: 30\nsibsp: 0\nparch: 0\nticket: 36928\nfare: 164.8667\ncabin: C7\nembarked: S\nboat: 8\nbody: \nhome.dest: Youngstown, OH', metadata={'source': '/content/titanic3.csv', 'row': 33}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Bonnell, Miss. Elizabeth\nsex: female\nage: 58\nsibsp: 0\nparch: 0\nticket: 113783\nfare: 26.5500\ncabin: C103\nembarked: S\nboat: 8\nbody: \nhome.dest: Birkdale, England Cleveland, Ohio', metadata={'source': '/content/titanic3.csv', 'row': 34}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Borebank, Mr. John James\nsex: male\nage: 42\nsibsp: 0\nparch: 0\nticket: 110489\nfare: 26.5500\ncabin: D22\nembarked: S\nboat: \nbody: \nhome.dest: London / Winnipeg, MB', metadata={'source': '/content/titanic3.csv', 'row': 35}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Bowen, Miss. Grace Scott\nsex: female\nage: 45\nsibsp: 0\nparch: 0\nticket: PC 17608\nfare: 262.3750\ncabin: \nembarked: C\nboat: 4\nbody: \nhome.dest: Cooperstown, NY', metadata={'source': '/content/titanic3.csv', 'row': 36}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Bowerman, Miss. Elsie Edith\nsex: female\nage: 22\nsibsp: 0\nparch: 1\nticket: 113505\nfare: 55.0000\ncabin: E33\nembarked: S\nboat: 6\nbody: \nhome.dest: St Leonards-on-Sea, England Ohio', metadata={'source': '/content/titanic3.csv', 'row': 37}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Bradley, Mr. George ("George Arthur Brayton")\nsex: male\nage: \nsibsp: 0\nparch: 0\nticket: 111427\nfare: 26.5500\ncabin: \nembarked: S\nboat: 9\nbody: \nhome.dest: Los Angeles, CA', metadata={'source': '/content/titanic3.csv', 'row': 38}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Brady, Mr. John Bertram\nsex: male\nage: 41\nsibsp: 0\nparch: 0\nticket: 113054\nfare: 30.5000\ncabin: A21\nembarked: S\nboat: \nbody: \nhome.dest: Pomeroy, WA', metadata={'source': '/content/titanic3.csv', 'row': 39}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Brandeis, Mr. Emil\nsex: male\nage: 48\nsibsp: 0\nparch: 0\nticket: PC 17591\nfare: 50.4958\ncabin: B10\nembarked: C\nboat: \nbody: 208\nhome.dest: Omaha, NE', metadata={'source': '/content/titanic3.csv', 'row': 40}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Brewe, Dr. Arthur Jackson\nsex: male\nage: \nsibsp: 0\nparch: 0\nticket: 112379\nfare: 39.6000\ncabin: \nembarked: C\nboat: \nbody: \nhome.dest: Philadelphia, PA', metadata={'source': '/content/titanic3.csv', 'row': 41}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Brown, Mrs. James Joseph (Margaret Tobin)\nsex: female\nage: 44\nsibsp: 0\nparch: 0\nticket: PC 17610\nfare: 27.7208\ncabin: B4\nembarked: C\nboat: 6\nbody: \nhome.dest: Denver, CO', metadata={'source': '/content/titanic3.csv', 'row': 42}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Brown, Mrs. John Murray (Caroline Lane Lamson)\nsex: female\nage: 59\nsibsp: 2\nparch: 0\nticket: 11769\nfare: 51.4792\ncabin: C101\nembarked: S\nboat: D\nbody: \nhome.dest: Belmont, MA', metadata={'source': '/content/titanic3.csv', 'row': 43}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Bucknell, Mrs. William Robert (Emma Eliza Ward)\nsex: female\nage: 60\nsibsp: 0\nparch: 0\nticket: 11813\nfare: 76.2917\ncabin: D15\nembarked: C\nboat: 8\nbody: \nhome.dest: Philadelphia, PA', metadata={'source': '/content/titanic3.csv', 'row': 44}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Burns, Miss. Elizabeth Margaret\nsex: female\nage: 41\nsibsp: 0\nparch: 0\nticket: 16966\nfare: 134.5000\ncabin: E40\nembarked: C\nboat: 3\nbody: \nhome.dest: ', metadata={'source': '/content/titanic3.csv', 'row': 45}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Butt, Major. Archibald Willingham\nsex: male\nage: 45\nsibsp: 0\nparch: 0\nticket: 113050\nfare: 26.5500\ncabin: B38\nembarked: S\nboat: \nbody: \nhome.dest: Washington, DC', metadata={'source': '/content/titanic3.csv', 'row': 46}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Cairns, Mr. Alexander\nsex: male\nage: \nsibsp: 0\nparch: 0\nticket: 113798\nfare: 31.0000\ncabin: \nembarked: S\nboat: \nbody: \nhome.dest: ', metadata={'source': '/content/titanic3.csv', 'row': 47}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Calderhead, Mr. Edward Pennington\nsex: male\nage: 42\nsibsp: 0\nparch: 0\nticket: PC 17476\nfare: 26.2875\ncabin: E24\nembarked: S\nboat: 5\nbody: \nhome.dest: New York, NY', metadata={'source': '/content/titanic3.csv', 'row': 48}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Candee, Mrs. Edward (Helen Churchill Hungerford)\nsex: female\nage: 53\nsibsp: 0\nparch: 0\nticket: PC 17606\nfare: 27.4458\ncabin: \nembarked: C\nboat: 6\nbody: \nhome.dest: Washington, DC', metadata={'source': '/content/titanic3.csv', 'row': 49}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Cardeza, Mr. Thomas Drake Martinez\nsex: male\nage: 36\nsibsp: 0\nparch: 1\nticket: PC 17755\nfare: 512.3292\ncabin: B51 B53 B55\nembarked: C\nboat: 3\nbody: \nhome.dest: Austria-Hungary / Germantown, Philadelphia, PA', metadata={'source': '/content/titanic3.csv', 'row': 50}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)\nsex: female\nage: 58\nsibsp: 0\nparch: 1\nticket: PC 17755\nfare: 512.3292\ncabin: B51 B53 B55\nembarked: C\nboat: 3\nbody: \nhome.dest: Germantown, Philadelphia, PA', metadata={'source': '/content/titanic3.csv', 'row': 51}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Carlsson, Mr. Frans Olof\nsex: male\nage: 33\nsibsp: 0\nparch: 0\nticket: 695\nfare: 5.0000\ncabin: B51 B53 B55\nembarked: S\nboat: \nbody: \nhome.dest: New York, NY', metadata={'source': '/content/titanic3.csv', 'row': 52}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Carrau, Mr. Francisco M\nsex: male\nage: 28\nsibsp: 0\nparch: 0\nticket: 113059\nfare: 47.1000\ncabin: \nembarked: S\nboat: \nbody: \nhome.dest: Montevideo, Uruguay', metadata={'source': '/content/titanic3.csv', 'row': 53}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Carrau, Mr. Jose Pedro\nsex: male\nage: 17\nsibsp: 0\nparch: 0\nticket: 113059\nfare: 47.1000\ncabin: \nembarked: S\nboat: \nbody: \nhome.dest: Montevideo, Uruguay', metadata={'source': '/content/titanic3.csv', 'row': 54}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Carter, Master. William Thornton II\nsex: male\nage: 11\nsibsp: 1\nparch: 2\nticket: 113760\nfare: 120.0000\ncabin: B96 B98\nembarked: S\nboat: 4\nbody: \nhome.dest: Bryn Mawr, PA', metadata={'source': '/content/titanic3.csv', 'row': 55}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Carter, Miss. Lucile Polk\nsex: female\nage: 14\nsibsp: 1\nparch: 2\nticket: 113760\nfare: 120.0000\ncabin: B96 B98\nembarked: S\nboat: 4\nbody: \nhome.dest: Bryn Mawr, PA', metadata={'source': '/content/titanic3.csv', 'row': 56}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Carter, Mr. William Ernest\nsex: male\nage: 36\nsibsp: 1\nparch: 2\nticket: 113760\nfare: 120.0000\ncabin: B96 B98\nembarked: S\nboat: C\nbody: \nhome.dest: Bryn Mawr, PA', metadata={'source': '/content/titanic3.csv', 'row': 57}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Carter, Mrs. William Ernest (Lucile Polk)\nsex: female\nage: 36\nsibsp: 1\nparch: 2\nticket: 113760\nfare: 120.0000\ncabin: B96 B98\nembarked: S\nboat: 4\nbody: \nhome.dest: Bryn Mawr, PA', metadata={'source': '/content/titanic3.csv', 'row': 58}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Case, Mr. Howard Brown\nsex: male\nage: 49\nsibsp: 0\nparch: 0\nticket: 19924\nfare: 26.0000\ncabin: \nembarked: S\nboat: \nbody: \nhome.dest: Ascot, Berkshire / Rochester, NY', metadata={'source': '/content/titanic3.csv', 'row': 59}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)\nsex: female\nage: \nsibsp: 0\nparch: 0\nticket: 17770\nfare: 27.7208\ncabin: \nembarked: C\nboat: 5\nbody: \nhome.dest: New York, NY', metadata={'source': '/content/titanic3.csv', 'row': 60}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Cavendish, Mr. Tyrell William\nsex: male\nage: 36\nsibsp: 1\nparch: 0\nticket: 19877\nfare: 78.8500\ncabin: C46\nembarked: S\nboat: \nbody: 172\nhome.dest: Little Onn Hall, Staffs', metadata={'source': '/content/titanic3.csv', 'row': 61}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Cavendish, Mrs. Tyrell William (Julia Florence Siegel)\nsex: female\nage: 76\nsibsp: 1\nparch: 0\nticket: 19877\nfare: 78.8500\ncabin: C46\nembarked: S\nboat: 6\nbody: \nhome.dest: Little Onn Hall, Staffs', metadata={'source': '/content/titanic3.csv', 'row': 62}),
 Document(page_content='pclass: 1\nsurvived: 0\nname: Chaffee, Mr. Herbert Fuller\nsex: male\nage: 46\nsibsp: 1\nparch: 0\nticket: W.E.P. 5734\nfare: 61.1750\ncabin: E31\nembarked: S\nboat: \nbody: \nhome.dest: Amenia, ND', metadata={'source': '/content/titanic3.csv', 'row': 63}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)\nsex: female\nage: 47\nsibsp: 1\nparch: 0\nticket: W.E.P. 5734\nfare: 61.1750\ncabin: E31\nembarked: S\nboat: 4\nbody: \nhome.dest: Amenia, ND', metadata={'source': '/content/titanic3.csv', 'row': 64}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Chambers, Mr. Norman Campbell\nsex: male\nage: 27\nsibsp: 1\nparch: 0\nticket: 113806\nfare: 53.1000\ncabin: E8\nembarked: S\nboat: 5\nbody: \nhome.dest: New York, NY / Ithaca, NY', metadata={'source': '/content/titanic3.csv', 'row': 65}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Chambers, Mrs. Norman Campbell (Bertha Griggs)\nsex: female\nage: 33\nsibsp: 1\nparch: 0\nticket: 113806\nfare: 53.1000\ncabin: E8\nembarked: S\nboat: 5\nbody: \nhome.dest: New York, NY / Ithaca, NY', metadata={'source': '/content/titanic3.csv', 'row': 66}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Chaudanson, Miss. Victorine\nsex: female\nage: 36\nsibsp: 0\nparch: 0\nticket: PC 17608\nfare: 262.3750\ncabin: B61\nembarked: C\nboat: 4\nbody: \nhome.dest: ', metadata={'source': '/content/titanic3.csv', 'row': 67}),
 Document(page_content='pclass: 1\nsurvived: 1\nname: Cherry, Miss. Gladys\nsex: female\nage: 30\nsibsp: 0\nparch: 0\nticket: 110152\nfare: 86.5000\ncabin: B77\nembarked: S\nboat: 8\nbody: \nhome.dest: London, England', metadata={'source': '/content/titanic3.csv', 'row': 68}),